# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/assets/globe.jpg
/test-files/
/static_kraken_ubuntu_x64/
/.supabase/
/.apple.env
/.env.tauri
/.env.drizzle
/src-tauri/resources/database.idx
/src-tauri/resources/database.kdb
/src-tauri/resources/database.kdb.counts
/src-tauri/resources/taxDB
/pnpm-lock.yaml
