node_modules
package-lock.json
dist
lint-*
src-tauri
.github
.gitignore
.npmrc
.prettier.cjs
.prettierignore
.snaplet
components.json
eslint.config.js
index.html
LICENSE
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
postcss.config.js
README.md
tailwind.config.js
tsconfig.json
tsconfig.node.json
public
*.css